
.carousel-item img{
    height: 400px;
    width: 100%;
}
.sectiontwo{
    padding-top: 10px;
    max-width: 1300px;
    margin: auto;
}
.card{
    height: 800px;
}
.card-img-top{
    height: 200px;
}
