
.carousel-item img{
    height: 400px;
    width: 100%;
}
.sectiontwo{
    padding-top: 10px;
    max-width: 1300px;
    margin: auto;
}
.card{
    height:700px;
}
.card-body{
    height: 60%;
}
.card-img-top{
    height: 40%;
}
.card-text{
    height: 130px;
    overflow: scroll;
}
